.u-section-1 {
  background-image: url("images/Block2Background.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 915px;
}

.u-section-1 .u-image-1 {
  width: 876px;
  height: 126px;
  animation-duration: 1000ms;
  margin: 42px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 428px;
  width: 1140px;
  margin: 32px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 27px 27px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-image-2 {
  width: 756px;
  height: 213px;
  margin: 15px auto 0;
}

.u-section-1 .u-line-1 {
  height: 18px;
  transform-origin: right center 0px;
  width: 2199px;
  margin: 41px auto 0 -644px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-gallery-1 {
    height: 353px;
    width: 940px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 104px;
  }

  .u-section-1 .u-gallery-1 {
    height: 608px;
    width: 720px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 203px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2041px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 78px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1824px;
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 152px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 49px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1148px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 96px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: url("images/SecondBlockPart.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-image-1 {
  width: 930px;
  height: 134px;
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-2 .u-image-2 {
  width: 774px;
  height: 69px;
  margin: -26px auto 0;
}

.u-section-2 .u-image-3 {
  width: 158px;
  height: 158px;
  animation-duration: 1500ms;
  margin: 43px auto 0 102px;
}

.u-section-2 .u-image-4 {
  width: 158px;
  height: 158px;
  animation-duration: 1500ms;
  margin: -158px auto 0 257px;
}

.u-section-2 .u-image-5 {
  width: 158px;
  height: 158px;
  animation-duration: 1500ms;
  margin: -158px auto 0 411px;
}

.u-section-2 .u-image-6 {
  width: 158px;
  height: 158px;
  animation-duration: 1500ms;
  margin: -151px auto 0 569px;
}

.u-section-2 .u-image-7 {
  width: 158px;
  height: 158px;
  animation-duration: 1500ms;
  margin: -158px auto 0 719px;
}

.u-section-2 .u-image-8 {
  width: 158px;
  height: 158px;
  animation-duration: 1500ms;
  margin: -158px 105px 0 auto;
}

.u-section-2 .u-line-1 {
  height: 18px;
  transform-origin: right center 0px;
  width: 2199px;
  margin: 69px auto 0 -643px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 104px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 64px;
    margin-top: 4px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 562px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 562px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 78px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 48px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 382px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 382px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 382px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 49px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 30px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 182px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 182px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 182px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 182px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: url("images/Block2Background.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 78px;
  margin: 51px auto 0;
}

.u-section-3 .u-gallery-1 {
  width: 319px;
  height: 299px;
  grid-gap: 10px 10px;
  margin: 60px auto 0 75px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 261px;
  margin: -280px 60px 0 auto;
}

.u-section-3 .u-line-1 {
  height: 18px;
  transform-origin: right center 0px;
  width: 2199px;
  margin: 126px auto 1px -684px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 74px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 247px;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 47px;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: 21px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 156px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}